In [1]:
#Import Dependicies
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from glob import glob

In [2]:
#Getting the Resourse CSVs from the GitRepo
!wget "https://github.com/ParkaviMathi/Road_Safety/blob/main/Resources/2021_data_sa_as_at_20220706%20(2).zip?raw=true" -O "master.zip"

--2022-12-13 01:56:04--  https://github.com/ParkaviMathi/Road_Safety/blob/main/Resources/2021_data_sa_as_at_20220706%20(2).zip?raw=true
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/ParkaviMathi/Road_Safety/raw/main/Resources/2021_data_sa_as_at_20220706%20(2).zip [following]
--2022-12-13 01:56:04--  https://github.com/ParkaviMathi/Road_Safety/raw/main/Resources/2021_data_sa_as_at_20220706%20(2).zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/ParkaviMathi/Road_Safety/main/Resources/2021_data_sa_as_at_20220706%20(2).zip [following]
--2022-12-13 01:56:05--  https://raw.githubusercontent.com/ParkaviMathi/Road_Safety/main/Resources/2021_data_sa_as_at_20220706%20(2).zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11447877 (11M) [application/zip]
Saving to: ‘master.zip’

master.zip          100%[===================>]  10.92M  --.-KB/s    in 0.07s

2022-12-13 01:56:06 (159 MB/s) - ‘master.zip’ saved [11447877/11447877]

In [3]:
#Unzipping the master zip file
!unzip "master.zip"

Archive:  master.zip
 extracting: 2012_data_sa_as_at_20210527.zip
 extracting: 2013_data_sa_as_at_20210527.zip
 extracting: 2014_data_sa_as_at_20210527.zip
 extracting: 2015_data_sa_as_at_20210527.zip
 extracting: 2016_data_sa_as_at_20210527.zip
 extracting: 2017_data_sa_as_at_20210527.zip
 extracting: 2018_data_sa_as_at_20210527.zip
 extracting: 2019_data_sa_as_at_20210527.zip
 extracting: 2020_data_sa_as_at_20210527.zip
 extracting: 2021_data_sa_as_at_20220706.zip

In [4]:
#Unzipping the crash CSV for 2012 to 2021
for zip_file in glob("*_data_sa_as_at_*.zip"):
  # print(zip_file)
  !unzip {zip_file}

Archive:  2015_data_sa_as_at_20210527.zip
  inflating: 2015_DATA_SA_Casualty.csv
  inflating: 2015_DATA_SA_Crash.csv
  inflating: 2015_DATA_SA_Units.csv
Archive:  2020_data_sa_as_at_20210527.zip
  inflating: 2020_DATA_SA_Casualty.csv
  inflating: 2020_DATA_SA_Crash.csv
  inflating: 2020_DATA_SA_Units.csv
Archive:  2019_data_sa_as_at_20210527.zip
  inflating: 2019_DATA_SA_Casualty.csv
  inflating: 2019_DATA_SA_Crash.csv
  inflating: 2019_DATA_SA_Units.csv
Archive:  2012_data_sa_as_at_20210527.zip
  inflating: 2012_DATA_SA_Casualty.csv
  inflating: 2012_DATA_SA_Crash.csv
  inflating: 2012_DATA_SA_Units.csv
Archive:  2017_data_sa_as_at_20210527.zip
  inflating: 2017_DATA_SA_Casualty.csv
  inflating: 2017_DATA_SA_Crash.csv
  inflating: 2017_DATA_SA_Units.csv
Archive:  2021_data_sa_as_at_20220706.zip
  inflating: 2021_DATA_SA_Units.csv
  inflating: 2021_DATA_SA_Casualty.csv
  inflating: 2021_DATA_SA_Crash.csv
Archive:  2018_data_sa_as_at_20210527.zip
  inflating: 2018_DATA_SA_Casualty.csv
  inflating: 2018_DATA_SA_Crash.csv
  inflating: 2018_DATA_SA_Units.csv
Archive:  2013_data_sa_as_at_20210527.zip
  inflating: 2013_DATA_SA_Casualty.csv
  inflating: 2013_DATA_SA_Crash.csv
  inflating: 2013_DATA_SA_Units.csv
Archive:  2016_data_sa_as_at_20210527.zip
  inflating: 2016_DATA_SA_Casualty.csv
  inflating: 2016_DATA_SA_Crash.csv
  inflating: 2016_DATA_SA_Units.csv
Archive:  2014_data_sa_as_at_20210527.zip
  inflating: 2014_DATA_SA_Casualty.csv
  inflating: 2014_DATA_SA_Crash.csv
  inflating: 2014_DATA_SA_Units.csv

In [5]:
#Removing the Zip files
!rm *.zip

In [6]:
#Creating a Datafram for data in all crash CSV files fro 2012 to 2021
crash_df = None
for file_name in glob("*_Crash.csv"):
  current_df = pd.read_csv(file_name)
  if crash_df is None:
    crash_df = current_df
  else:
    crash_df = pd.concat([crash_df, current_df], ignore_index=True)
crash_df = crash_df.fillna(0)
crash_df

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
0,2019-1-27/05/2021,2 Metropolitan,HAMPSTEAD GARDENS,5086,CITY OF PORT ADELAIDE ENFIELD,2,0,0,0,0,...,Right Angle,1,Driver Rider,1: PDO,Give Way Sign,0,0,1331810.03,1676603.26,1.331810e+13
1,2019-2-27/05/2021,2 Metropolitan,DRY CREEK,5094,CITY OF SALISBURY,2,0,0,0,0,...,Rear End,2,Driver Rider,1: PDO,No Control,0,0,1328376.20,1682942.63,1.328376e+13
2,2019-3-27/05/2021,2 Metropolitan,MILE END,5031,CITY OF WEST TORRENS,2,1,0,0,1,...,Hit Pedestrian,1,Driver Rider,2: MI,No Control,0,0,1325819.68,1670994.26,1.325820e+13
3,2019-4-27/05/2021,2 Metropolitan,PARALOWIE,5108,CITY OF SALISBURY,2,1,0,1,0,...,Hit Fixed Object,1,Driver Rider,3: SI,No Control,0,0,1328320.60,1690237.08,1.328321e+13
4,2019-5-27/05/2021,2 Metropolitan,MOUNT BARKER,5251,DC MT.BARKER.,2,0,0,0,0,...,Hit Animal,2,Animal,1: PDO,No Control,0,0,1353279.99,1655645.15,1.353280e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152349,2014-16158-27/05/2021,2 Metropolitan,CAMPBELLTOWN,5074,CC CAMPBELLTOWN.,2,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,0,0,1334430.11,1675666.41,1.334430e+13
152350,2014-16159-27/05/2021,1 City,ADELAIDE,5000,CITY OF ADELAIDE,2,0,0,0,0,...,Hit Parked Vehicle,2,Driver Rider,1: PDO,No Control,0,0,1328913.33,1670636.72,1.328913e+13
152351,2014-16160-27/05/2021,2 Metropolitan,VIRGINIA,5120,CITY OF PLAYFORD.,2,0,0,0,0,...,Rear End,2,Driver Rider,1: PDO,No Control,0,0,1326733.84,1695726.07,1.326734e+13
152352,2014-16161-27/05/2021,3 Country,PORT AUGUSTA WEST,5700,CC PT.AUGUSTA.,2,0,0,0,0,...,Hit Animal,2,Animal,1: PDO,No Control,0,0,1256546.59,1939923.51,1.256547e+13
152353,2014-16162-27/05/2021,2 Metropolitan,CLARENCE GARDENS,5039,CC MITCHAM.,1,1,0,0,1,...,Other,1,Driver Rider,2: MI,Traffic Signals,0,0,1325891.47,1666156.75,1.325891e+13

In [ ]:
# Export our model to HDF5 file
#from google.colab import files

#crash_df.to_csv('/content/combined_crash.csv')
#files.download('/content/combined_crash.csv')

In [7]:
#Creating connection to a relational database
import sqlite3
conn = sqlite3.connect('crash_db.sqlite')
crash_df.to_sql('crash_table', conn, if_exists='replace', index=False)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [8]:
#Retreving the data from SQLite
import sqlite3
conn = sqlite3.connect('crash_db.sqlite')
crash_df = pd.read_sql('select * from crash_table', conn)

In [9]:
crash_df.head()

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
0,2019-1-27/05/2021,2 Metropolitan,HAMPSTEAD GARDENS,5086,CITY OF PORT ADELAIDE ENFIELD,2,0,0,0,0,...,Right Angle,1,Driver Rider,1: PDO,Give Way Sign,0,0,1331810.03,1676603.26,1.331810e+13
1,2019-2-27/05/2021,2 Metropolitan,DRY CREEK,5094,CITY OF SALISBURY,2,0,0,0,0,...,Rear End,2,Driver Rider,1: PDO,No Control,0,0,1328376.20,1682942.63,1.328376e+13
2,2019-3-27/05/2021,2 Metropolitan,MILE END,5031,CITY OF WEST TORRENS,2,1,0,0,1,...,Hit Pedestrian,1,Driver Rider,2: MI,No Control,0,0,1325819.68,1670994.26,1.325820e+13
3,2019-4-27/05/2021,2 Metropolitan,PARALOWIE,5108,CITY OF SALISBURY,2,1,0,1,0,...,Hit Fixed Object,1,Driver Rider,3: SI,No Control,0,0,1328320.60,1690237.08,1.328321e+13
4,2019-5-27/05/2021,2 Metropolitan,MOUNT BARKER,5251,DC MT.BARKER.,2,0,0,0,0,...,Hit Animal,2,Animal,1: PDO,No Control,0,0,1353279.99,1655645.15,1.353280e+13

In [10]:
#Get Dtype for the Column variables
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152354 entries, 0 to 152353
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   REPORT_ID         152354 non-null  object
 1   Stats Area        152354 non-null  object
 2   Suburb            152354 non-null  object
 3   Postcode          152354 non-null  int64
 4   LGA Name          152354 non-null  object
 5   Total Units       152354 non-null  int64
 6   Total Cas         152354 non-null  int64
 7   Total Fats        152354 non-null  int64
 8   Total SI          152354 non-null  int64
 9   Total MI          152354 non-null  int64
 10  Year              152354 non-null  int64
 11  Month             152354 non-null  object
 12  Day               152354 non-null  object
 13  Time              152354 non-null  object
 14  Area Speed        152354 non-null  int64
 15  Position Type     152354 non-null  object
 16  Horizontal Align  152354 non-null  object
 17  Vertical Align    152354 non-null  object
 18  Other Feat        152354 non-null  object
 19  Road Surface      152354 non-null  object
 20  Moisture Cond     152354 non-null  object
 21  Weather Cond      152354 non-null  object
 22  DayNight          152354 non-null  object
 23  Crash Type        152354 non-null  object
 24  Unit Resp         152354 non-null  int64
 25  Entity Code       152354 non-null  object
 26  CSEF Severity     152354 non-null  object
 27  Traffic Ctrls     152354 non-null  object
 28  DUI Involved      152354 non-null  object
 29  Drugs Involved    152354 non-null  object
 30  ACCLOC_X          152354 non-null  float64
 31  ACCLOC_Y          152354 non-null  float64
 32  UNIQUE_LOC        152354 non-null  float64
dtypes: float64(3), int64(9), object(21)
memory usage: 38.4+ MB

In [11]:
#Get no of unique values in each column
crash_df.nunique()

REPORT_ID           152354
Stats Area               3
Suburb                1670
Postcode               383
LGA Name                72
Total Units             13
Total Cas               11
Total Fats               5
Total SI                 8
Total MI                11
Year                    10
Month                   12
Day                      7
Time                  1431
Area Speed              14
Position Type           16
Horizontal Align         4
Vertical Align           5
Other Feat               9
Road Surface             3
Moisture Cond            3
Weather Cond             3
DayNight                 2
Crash Type              13
Unit Resp                6
Entity Code              6
CSEF Severity            4
Traffic Ctrls           10
DUI Involved             2
Drugs Involved           2
ACCLOC_X             89371
ACCLOC_Y             89784
UNIQUE_LOC           88957
dtype: int64

In [12]:
#Coulumn names in the Dataframe
crash_df.columns

Index(['REPORT_ID', 'Stats Area', 'Suburb', 'Postcode', 'LGA Name',
       'Total Units', 'Total Cas', 'Total Fats', 'Total SI', 'Total MI',
       'Year', 'Month', 'Day', 'Time', 'Area Speed', 'Position Type',
       'Horizontal Align', 'Vertical Align', 'Other Feat', 'Road Surface',
       'Moisture Cond', 'Weather Cond', 'DayNight', 'Crash Type', 'Unit Resp',
       'Entity Code', 'CSEF Severity', 'Traffic Ctrls', 'DUI Involved',
       'Drugs Involved', 'ACCLOC_X', 'ACCLOC_Y', 'UNIQUE_LOC'],
      dtype='object')

In [33]:
#Cleaned dataframe with unwanted columns removed
crash_df_filtered = crash_df[['Stats Area','Total Units', 'Total Cas', 'Total Fats', 'Total SI', 'Total MI', 'Month', 'Day', 'Time', 'Area Speed', 'Position Type',
       'Horizontal Align', 'Vertical Align', 'Other Feat', 'Road Surface',
       'Moisture Cond', 'Weather Cond', 'DayNight', 'Crash Type', 'Unit Resp',
       'Entity Code', 'CSEF Severity', 'Traffic Ctrls', 'DUI Involved',
       'Drugs Involved']]

In [34]:
#Cleaned Dataframe
crash_df_filtered.head()

,Stats Area,Total Units,Total Cas,Total Fats,Total SI,Total MI,Month,Day,Time,Area Speed,...,Moisture Cond,Weather Cond,DayNight,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved
0,2 Metropolitan,2,0,0,0,0,June,Wednesday,11:15 am,60,...,Dry,Not Raining,Daylight,Right Angle,1,Driver Rider,1: PDO,Give Way Sign,0,0
1,2 Metropolitan,2,0,0,0,0,January,Tuesday,12:49 am,90,...,Dry,Not Raining,Night,Rear End,2,Driver Rider,1: PDO,No Control,0,0
2,2 Metropolitan,2,1,0,0,1,January,Tuesday,12:00 am,60,...,Dry,Not Raining,Night,Hit Pedestrian,1,Driver Rider,2: MI,No Control,0,0
3,2 Metropolitan,2,1,0,1,0,January,Tuesday,12:05 am,50,...,Dry,Not Raining,Night,Hit Fixed Object,1,Driver Rider,3: SI,No Control,0,0
4,2 Metropolitan,2,0,0,0,0,January,Tuesday,05:15 am,110,...,Dry,Not Raining,Night,Hit Animal,2,Animal,1: PDO,No Control,0,0

In [35]:
#Unique values in cleaned Dataframe coulmns
crash_df_filtered.nunique()

Stats Area             3
Total Units           13
Total Cas             11
Total Fats             5
Total SI               8
Total MI              11
Month                 12
Day                    7
Time                1431
Area Speed            14
Position Type         16
Horizontal Align       4
Vertical Align         5
Other Feat             9
Road Surface           3
Moisture Cond          3
Weather Cond           3
DayNight               2
Crash Type            13
Unit Resp              6
Entity Code            6
CSEF Severity          4
Traffic Ctrls         10
DUI Involved           2
Drugs Involved         2
dtype: int64

In [36]:
#Finding the number of unique values in Target Column
crash_df_filtered['CSEF Severity'].unique()

array(['1: PDO', '2: MI', '3: SI', '4: Fatal'], dtype=object)

In [37]:
# encoding string values into numeric values
CSEF_Severity_dict = {'4: Fatal': 0, '1: PDO': 1, '2: MI':2, '3: SI':3,}
crash_df_filtered = crash_df_filtered.replace({'CSEF Severity': CSEF_Severity_dict})

In [18]:
#Converting Dtype of 'Time' variable from Object to Datetime
crash_df_filtered ['Time'] = pd.to_datetime(crash_df_filtered['Time'])

In [19]:
#Changing the format of the 'Time' column from 12Hrs to 24Hrs and assigning it to a new Column 'date_formated'
crash_df_filtered['date_formated']=crash_df_filtered['Time'].dt.strftime('%H').astype('str')

In [20]:
#Finding the number of unique values in the converted 'date_formated' column
crash_df_filtered ['date_formated'].unique()

array(['11', '00', '05', '07', '09', '12', '06', '01', '17', '18', '16',
       '22', '03', '10', '13', '14', '15', '04', '19', '20', '23', '08',
       '21', '02'], dtype=object)

In [21]:
#Dropping the 'Time' column fromthe Dataframe
crash_df_filtered=crash_df_filtered.drop('Time', axis=1)

In [22]:
#Dataframe with the new Column 'date_formated'
crash_df_filtered.head()

,Stats Area,Total Units,Total Cas,Total Fats,Total SI,Total MI,Month,Day,Area Speed,Position Type,...,Weather Cond,DayNight,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,date_formated
0,2 Metropolitan,2,0,0,0,0,June,Wednesday,60,Cross Road,...,Not Raining,Daylight,Right Angle,1,Driver Rider,1,Give Way Sign,0,0,11
1,2 Metropolitan,2,0,0,0,0,January,Tuesday,90,Divided Road,...,Not Raining,Night,Rear End,2,Driver Rider,1,No Control,0,0,00
2,2 Metropolitan,2,1,0,0,1,January,Tuesday,60,Divided Road,...,Not Raining,Night,Hit Pedestrian,1,Driver Rider,2,No Control,0,0,00
3,2 Metropolitan,2,1,0,1,0,January,Tuesday,50,Not Divided,...,Not Raining,Night,Hit Fixed Object,1,Driver Rider,3,No Control,0,0,00
4,2 Metropolitan,2,0,0,0,0,January,Tuesday,110,Divided Road,...,Not Raining,Night,Hit Animal,2,Animal,1,No Control,0,0,05

In [23]:
#One-Hot Encoding the Column Variables
ohe_columns = ['Stats Area', 'Month', 'Day', 'date_formated', 'Position Type',
       'Horizontal Align', 'Vertical Align', 'Other Feat', 'Road Surface',
       'Moisture Cond', 'Weather Cond', 'DayNight', 'Crash Type',
       'Entity Code','CSEF Severity', 'Traffic Ctrls', 'DUI Involved',
       'Drugs Involved']      
ohe_df = pd.get_dummies(crash_df_filtered, columns=ohe_columns)

In [24]:
#Number of columns after One-Hot Encoding
len(ohe_df.columns)

135

In [25]:
#One-Hot Encoded Columns
ohe_df.columns

Index(['Total Units', 'Total Cas', 'Total Fats', 'Total SI', 'Total MI',
       'Area Speed', 'Unit Resp', 'Stats Area_1 City',
       'Stats Area_2 Metropolitan', 'Stats Area_3 Country',
       ...
       'Traffic Ctrls_Rail Xing - Flashing',
       'Traffic Ctrls_Rail Xing - No Control',
       'Traffic Ctrls_Rail Xing-Traffic Signals', 'Traffic Ctrls_Roundabout',
       'Traffic Ctrls_Stop Sign', 'Traffic Ctrls_Traffic Signals',
       'DUI Involved_0', 'DUI Involved_Y', 'Drugs Involved_0',
       'Drugs Involved_Y'],
      dtype='object', length=135)

In [26]:
#Ohe Datframe
ohe_df.head()

,Total Units,Total Cas,Total Fats,Total SI,Total MI,Area Speed,Unit Resp,Stats Area_1 City,Stats Area_2 Metropolitan,Stats Area_3 Country,...,Traffic Ctrls_Rail Xing - Flashing,Traffic Ctrls_Rail Xing - No Control,Traffic Ctrls_Rail Xing-Traffic Signals,Traffic Ctrls_Roundabout,Traffic Ctrls_Stop Sign,Traffic Ctrls_Traffic Signals,DUI Involved_0,DUI Involved_Y,Drugs Involved_0,Drugs Involved_Y
0,2,0,0,0,0,60,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0
1,2,0,0,0,0,90,2,0,1,0,...,0,0,0,0,0,0,1,0,1,0
2,2,1,0,0,1,60,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0
3,2,1,0,1,0,50,1,0,1,0,...,0,0,0,0,0,0,1,0,1,0
4,2,0,0,0,0,110,2,0,1,0,...,0,0,0,0,0,0,1,0,1,0

In [27]:
# Split our preprocessed data into our features and target arrays
y = ohe_df[[col for col in ohe_df if col.startswith("CSEF Severity_")]].values

# drop 'Total Fats', 'Total SI', 'Total MI'
X = ohe_df.drop([col for col in ohe_df if col.startswith("CSEF Severity_")], axis=1).values
X

array([[2, 0, 0, ..., 0, 1, 0],
       [2, 0, 0, ..., 0, 1, 0],
       [2, 1, 0, ..., 0, 1, 0],
       ...,
       [2, 0, 0, ..., 0, 1, 0],
       [2, 0, 0, ..., 0, 1, 0],
       [1, 1, 0, ..., 0, 1, 0]])

In [28]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=16
hidden_nodes_layer3=16
nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(4, activation='softmax'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 1056

 dense_1 (Dense)             (None, 16)                144

 dense_2 (Dense)             (None, 4)                 68

=================================================================
Total params: 1,268
Trainable params: 1,268
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss = tf.keras.losses.CategoricalCrossentropy(), optimizer = tf.keras.optimizers.Adam(learning_rate=0.001), metrics=['accuracy'])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test), epochs=10)

Epoch 1/10
3571/3571 [==============================] - 9s 2ms/step - loss: 0.1135 - accuracy: 0.9581 - val_loss: 0.0062 - val_accuracy: 0.9983
Epoch 2/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.0037 - accuracy: 0.9990 - val_loss: 0.0026 - val_accuracy: 0.9992
Epoch 3/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.0019 - accuracy: 0.9994 - val_loss: 0.0019 - val_accuracy: 0.9993
Epoch 4/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.0015 - accuracy: 0.9996 - val_loss: 0.0017 - val_accuracy: 0.9993
Epoch 5/10
3571/3571 [==============================] - 8s 2ms/step - loss: 9.1326e-04 - accuracy: 0.9996 - val_loss: 0.0016 - val_accuracy: 0.9995
Epoch 6/10
3571/3571 [==============================] - 8s 2ms/step - loss: 7.2939e-04 - accuracy: 0.9998 - val_loss: 0.0015 - val_accuracy: 0.9994
Epoch 7/10
3571/3571 [==============================] - 9s 3ms/step - loss: 7.6804e-04 - accuracy: 0.9998 - val_loss: 0.0011 - val_accuracy: 0.9996
Epoch 8/10
3571/3571 [==============================] - 8s 2ms/step - loss: 5.1150e-04 - accuracy: 0.9998 - val_loss: 9.6813e-04 - val_accuracy: 0.9997
Epoch 9/10
3571/3571 [==============================] - 9s 3ms/step - loss: 5.2389e-04 - accuracy: 0.9999 - val_loss: 7.1902e-04 - val_accuracy: 0.9998
Epoch 10/10
3571/3571 [==============================] - 9s 3ms/step - loss: 3.4839e-04 - accuracy: 0.9999 - val_loss: 9.8216e-04 - val_accuracy: 0.9998

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1191/1191 - 1s - loss: 9.8216e-04 - accuracy: 0.9998 - 1s/epoch - 1ms/step
Loss: 0.000982157071121037, Accuracy: 0.9997637271881104